mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        //- div(style=`background-size:cover;background-position:center;`)
        if isHeroku 
            img(src=video.thumbUrl, alt="thumbnail").video-mixin__thumb
        else
            img(src="/"+video.thumbUrl, alt="thumbnail").video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span 작성자 #{video.owner.name} • 
                span 조회수 #{video.meta.views} 회 •  
                span 댓글  #{video.comments.length} 개